@font-face {
    font-family: kalameh;
    src: url(KalamehFaNum-Medium.ttf);
}
*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
    font-family: kalameh;
    text-align: justify;
}
body{
    position: relative;
}
.fixed-icon{
    width: 50px;
    height: 50px;
    background-color: rgb(239 53 65);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position:fixed;
    z-index: 2;
    right: 5vh;
    bottom: 5vh;
}
a{
    color: inherit;
    text-decoration: none;
    display: inline-block;
    align-content: center;
    text-align: center;
}
img{
    display: block;
}
i{
    align-content: center;
    font-size: 20px;
    display: inline-block;
    vertical-align: middle;
}
svg{
    align-content: center;
    vertical-align: middle;
    font-size: 25px;
    display: inline-block;
}
/* .button-fixed{
    background-color: rgb(80 151 83);
    color: white;
    padding: 15px 10px;
    border-radius: 25px;
    position: fixed;
    bottom: 5%;
    left: 2%;
    z-index: 2;
    border: none;
}
.button-fixed .button-text{
    display: inline-block;
    font-size: 18px;
}
.button-fixed i{
    margin-right: 10px;
}
.button-fixed .button-text::after{
    content: "تنوع بالا و پرتخفیف";
    color: white;
    font-size: 18px;
    border-right: 1px solid rgb(72, 137, 76);
    padding-right: 5px;
    margin-right: 5px;
    /* visibility: hidden; 
} */
.container{
    margin: 15px 20px;
    /* display: flex;
    justify-content: space-evenly; */
}
.span-style{
    font-size: 13px;
    color: rgb(170 170 170);
    margin-left: 10px;
}
/* header */
.img-top{
    display: block;
}
header nav{
    border-bottom: 2px solid rgb(224 224 224);
}
.row{
    display: flex;
    justify-content: space-between;
    padding: 15px;
    background-color: white;
}
.sticky{
    position: sticky;
    top: 0;
    right: 0;
    z-index: 1;
}
.row .row-right{
    display: flex;
    justify-content: space-between;
    width: 57%;
}
.logo{
    width: 22%;
}
.search{
    background-color: rgb( 240 240 240);
    border-radius: 10px;
    display: flex;
    width: 75%;
    padding: 10px 0;
}
form{
width: 95%;
}  
.input{
    border: none;
    background-color: rgb( 240 240 240);
    width: 100%;
}
.search i{
    color: rgb(170 170 170);
    margin: 0 10px;
    font-size: 18px;
}
.row-right a{
    position: relative;
    overflow: hidden;
}
.row-right a::after{
        content: "";
        width: 100%;
        height: 2px;
        background-color: red;
        position: absolute;
        left: -100%;
        bottom: 0;
        transition: .5s;
}
.row-right a:hover::after{
    left: 0;
}
.row .row-left{
    display: flex;
    justify-content: space-evenly;
    width:16%;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}
.button3{
    background-color: white;
    padding: 10px 15px;
    border: 1px solid rgb(224 224 224);
    border-radius: 10px;
}
.button3 svg{
    margin-left: 10px;
}
.border{
    border-left: 1px solid #000;
    padding-left: 5px;
    margin-left: 5px;
}
.row .row-left i{
    font-size: 24px;
    border-right: 1px solid rgb(224 224 224);
    padding-right: 20px;
    margin-right: 10px;
}
header nav .row-left .register{
    border: 1px solid rgb(224 224 224);
    align-content: center;
    padding: 5px 15px;
    border-radius: 10px;
    vertical-align: middle;
}
header nav .row-left i{
    border-right: 1px solid rgb(224 224 224);
    padding-right: 30px;
    height: 25px;
}
header nav .menu{
    margin-bottom: 0;
    padding-bottom: 0;
}
header .menu .menu-item{
    border-left: 1px solid rgb(224 224 224);
    border-right: 1px solid rgb(224 224 224);
    padding-right: 15px;
    padding-bottom: 0;
    display: flex;
}
#width{
    width: 70%;
}
header .menu a{
    font-size: 13px;
    color: rgb(103, 103, 103);
    padding: 0px 0px 5px 17px;
}
#link-color{
    font-size: 16px;
    color: black;
}
.icon{
    font-size: 15px;
    padding-left: 5px;
}
.hidden{
    background-color: rgb( 64, 64, 97);
    color: white;
    font-size: 13px;
    padding: 15px 12px;
    border-radius: 5px;
    position: absolute;
    top: 35px;
    visibility: hidden;
}
#location{
    justify-content: end;
}
header .menu .row-left:hover .hidden{
    visibility: visible;
}
.main-menu{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.main-menu-left{
    display: flex;
    justify-content: space-between;
    width: 20%;
}
.product-img{
    width: 37%;
    position: relative;
}
.product-img-menu{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 3%;
}
.product-img-menu .hidden2{
    background-color: rgb( 64, 64, 97);
    color: white;
    font-size: 13px;
    padding: 10px 12px;
    border-radius: 5px;
    visibility: hidden;
}
.img-menu-item a{
    vertical-align: top;
}
.img-menu-item:hover .hidden2{
    visibility: visible;
}
.product-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 2%;
}
.product-filter{
    width: 20%;
    height: 80%;
    border: 1px solid rgb(224 224 224);
    border-radius: 10px;
    padding: 2% 1.5% 0 1.5%;
}
.filter-item-container{
    border-bottom: 1px solid rgb(224 224 224);
    padding-bottom: 5%;
}
.filter-item{
    display: flex;
    justify-content: space-between;
    padding: 6% 0;
}
.link-style{
    color: rgb(62, 201, 235);
    font-size: 12px;
}
.filter-caption-style{
    width: 84%;
    display: flex;
    text-align: right;
}
.filter-caption{
    margin-left: 8%;
}
.circle{
    font-size: 5px;
    color: rgb(62, 201, 235);
}
.border-none{
    border: none;
}
.filter-img{
    width: 12%;
}
input{
    display: none;
}
label{
    width: 40px;
    height: 20px;
    background-color: white;
    display: inline-block;
    border: 2px solid rgb(170 170 170);
    border-radius: 80px;
    position: relative;
    cursor: pointer;
}
label::after{
    content: "";
    width: 10px;
    height: 10px;
    background-color: rgb(170 170 170);
    border-radius: 50%;
    position: absolute;
    top: 3px;
    left: 2.5px;
    transition: .5s;
}
input:checked+label{
    background-color: rgb(62, 201, 235);
    border-color: rgb(62, 201, 235);
}
input:checked+label::after{
    margin-left: 22px;
    background-color: white;
}
.product-list{
    width: 79%;
}
.product-list nav{
    display: flex;
    justify-content: space-between;
}
.link-black{
    margin-left: 15px;
}
.link-gray{
    font-size: 13px;
    color: rgb(103, 103, 103);
    margin-left: 17px;
}
.product-item-container{
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}
.product-item{
    width: 25%;
    padding: 15px;
    border:1px solid rgb(224 224 224);
    border-collapse: collapse;
}
.br-none{
    border-right: none;
}
.bl-none{
    border-left: none;
}
.product-item:hover{
    box-shadow: 0px 0px 15px lightgray;
}
.product-img-container{
    display: flex;
    align-items: flex-start;
    margin-top: 10px;
}
.product-img{
    width: 100%;
}
.rounded-circle{
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: black;
    margin-bottom: 8px;
}
.circle-gray{
    background-color: lightgray;
}
.circle-bisque{
    background-color: bisque;
}
.circle-blue{
    background-color: rgb(46, 146, 233);
}
.circle-green{
    background-color: rgb(52, 172, 52);
}
.circle-purple{
    background-color: purple;
}
.button-delivery{
    background-color: rgb(249, 249, 249);
    border: none;
    padding: 5px;
    border-radius: 20px;
    margin: 10px 0;
    width: 40%;
    display: flex;
    justify-content: space-evenly;
}
.product-span-style{
    color: rgb(103, 103, 103);
    font-size: 12px;
}
.delivery-img{
   width: 20%;
}
.p-style{
    font-size: 11px;
}
.s-mr{
    margin-right: 10px;
}
.delivery-time{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0 20px;
}
.rate{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.star-icon{
    color: rgb( 233, 190,67);
    font-size: 14px;
    margin-right: 10px;
}
.button1 {
    background-color: rgb(207, 72, 65);
    border-radius: 11px;
    color: white;
    border: none;
    font-size: 12px;
    padding: 0 7px;
}
.price-former{
    text-decoration: line-through solid 1px;
    margin-right: 40%;
    font-size: 12px;
    color: rgb(170 170 170)
}
.hidden-item{
    visibility: hidden;
}
.flex-end{
    width: 100%;
    display: flex;
    justify-content: left;
    margin-top: 10px;
}
.product-page{
    width: 57%;
    display: flex;
    justify-content: space-between;
}
.selected{
    width: 35px;
    height: 35px;
    color: white;
    background-color: rgb(239 53 65);
    border-radius: 50%;
}
.non-selected{
    width: 35px;
    height: 35px;
    border-radius: 50%;
}
.non-selected:hover{
    color: rgb(239 53 65);
    border: 2px solid rgb(239 53 65);
}
.a-color{
    color: rgb(239 53 65);
    font-size: 12px;
}
.product-category{
    border: 1px solid rgb(224 224 224);
    border-radius: 10px;
    padding: 20px;
    margin: 30px 0;
}
.product-category .link-style{
    margin-left: 20px;

}
.product-about .span-style{
    margin-bottom: 5px;
}

.footer{
    padding: 30px 20px;
    border-top: 1px solid rgb(224 224 224);
    margin-top: 40px;
}
.footer-logo{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.footer-logo button{
    color: rgb(224 224 224);
}
.text-caption{
    font-size: 12px;
    color: rgb(170 170 170);
}
.footer-logo button svg{
    margin-right: 10px;
}
.footer-contan-text span{
    color: rgb(103, 103, 103);
    margin-left: 15px;
}
#border{
    border-right: 1px solid rgb(103, 103, 103);
    border-left: 1px solid rgb(103, 103, 103);
    padding: 0 15px;
}
.service{
    display: flex;
    justify-content: space-around;
    margin: 40px 0;
}
.service-item{
    width: 10%;
}
.service-item img{
    margin: auto;
}
.footer ul{
    list-style: none;
    width: 24%;
}
.footer li{
    margin-bottom: 15px;
    font-size: 14px;
    font-weight: 100;
}
.footer .list-title{
    font-size: 18px;
}
.footer .list-item{
    color: rgb(170 170 170);
    font-weight: normal;
}
.footer nav{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}
.footer nav i{
    font-size: 35px;
    margin: 0 0 20px 20px;
}
.footer #list-item{
    display: flex;
    justify-content: space-between;
}
.footer nav .search{
    width: 77%;
    padding-right: 20px;
}
.footer nav .width{
    margin-right: 10px;
    width: 20%;
}
.footer nav button{
    color: white;
    background-color: rgb(224 224 224);
}
.digiapp{
    background-color: rgb( 66 75 106);
    height: 18vh;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    margin-bottom: 30px;
}
.digiapp-logo{
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 22%;
}
.logo-footer{
    width: 14%;
}
.digiapp-logo h2{
    font-weight: normal;
}
.digiapp-item{
    width: 40%;
}
#digiapp-more{
    background-color: white;
    border-radius: 5px;
    width: 8.2%;
}
.about{
    border-top: 1px solid rgb(224 224 224);
    border-bottom: 1px solid rgb(224 224 224);
    padding: 30px 0 40px;
    display: flex;
    justify-content: space-between;
}
.about-caption{
    width: 70%;
}
.text-style{
    font-weight: normal;
    margin-bottom: 10px;
    color: rgb(103, 103, 103);
}
.font-size{
    font-size: 13px; 
    font-weight: normal;
}
.certificate{
    width: 25%;
    display: flex;
    justify-content: space-between;
}
.certificate-item{
    width: 31.5%;
    padding: 10px;
}
.p-style{
    font-size: 12px;
    text-align: center;
    margin: 20px 0 40px;
}
.digilink{
    background-color: rgb( 240 240 240);
}
.digilink-row{
    width: 45.5vh;
    height: 10vh;
    padding: 1% 0;
}
.digilink a{
    display: flex;
    justify-content: center;
}
.digilink img{
    width: 60%;
}
table td {
    border: 1px solid rgb(224 224 224);
}
table{
    border-collapse: collapse;
}




